*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville','Times New Roman', sans-serif;
    background-color: antiquewhite;
}
.title{
    text-align: center;
    margin: 30px;
    font-size: 20px;
    color:rgb(90, 40, 4);
}
.menuImg{
    margin-left: 25%;
}