
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;    
}
a{
    text-decoration: none;
    color: beige;
    size: 100px;
}
body, html{
    overflow-x: hidden;
}
.navbar{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(109, 48, 4);    
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    list-style-type: none;
    margin: 0 20px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('./img/Catcafe1.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}
.header-content{
    margin-bottom: 70px;
    color: rgb(90, 40, 4);
    text-align: center;    
}
.header-content h2{
    font-size: 4vmin;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu{
    padding: 8px 15px;
    background-color:aqua;
    border-radius: 30px;
    color:whitesmoke;
}
.ctn{
    padding: 8px 15px;
    background-color: cadetblue;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
section{
    width: 80%;
    margin: 50px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color:rgb(109, 48, 4);
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(234, 220, 192);
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img{
    width: 90%;
}
.events .row{
    margin-top: 50px;
}
h4{
    text-align: center;
    font-size: 4vmin;
    color:rgb(91, 65, 25);
    margin: 10px auto;
}
p{
    color:rgb(74, 46, 17);
    padding: 0px 10px;
}
.events .ctn{
    margin-top: 15px;
}
.explore{
    width: 100%;
    height: 25vh;    
    display: flex;
}
.explore-content{
    width: 100%;
    padding: 5px;
    color: rgb(91, 65, 25);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
    margin: 5px;
}
.explore-content p{
    color: rgb(91, 65, 25);
}
.explore-content .ctn{
    margin-top: 30px;
}
.footer{
    width: 100%;
    height: 1000px;
    padding: 10px 40px;
    margin: 0;
    background-color: rgb(83, 61, 29);
    text-align: center;
}
.footer h1{
    color: rgb(245, 245, 229);
    margin: 20px auto;
}
img{
    transition: transform .2s ease;
}
img:hover{
    transform: scale(1.11);
}
.ctn:hover{
    background-color: antiquewhite;
    color:rgb(49, 42, 3);
    box-shadow: 2px 2px 5px black;
}
.animationBar:hover{
    transform: scale(1.3);
    box-shadow: 5px 5px 5px black;
}
/* Mobile device*/
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        color: rgb(245, 245, 229);      
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;     
        background-color: rgb(99, 83, 67);   
        margin-top: -900px;
        transition: all 0,5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;

    }
    .nav-links li {
        margin: 30px auto;

    }
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
}